@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;

  -webkit-font-smoothing: antialiased;
}

a, h1 {
  text-decoration: none;
}

input, button, textarea {
  font: 400 14px Roboto, sans-serif;
}

button {
  cursor: pointer;
}
